body {
  margin: 0;
  padding: 0;
}


.rodape{
  background-color: black;
  color: white;
}

.rodape p{
  margin: 10px;
}



.fim-do-rodape{
  text-align: center;
}

.card{
  width: 98%;
  margin: 3px;
}



.btn{
  border: green 1px solid;
  align-items: right;
}


.botao :hover{
  align-items: none;
}

.facebook{
  height: 100px;
  margin: 5px;
  padding: 5px;
}

.fonte-menu{
  text-decoration: none;
  margin: 5px;
  color: white;
  font-size: 20px;
}

.fonte-menu:hover{
  color: red;
}

.card-pe{
  background-color: rgb(243, 241, 241);
}

.tipo h1{
  text-align: center;
}

.pes{
  width: 99%;
}
.navegacao p{
  margin: 6px;
  font-size: 15px;
}

.sobre p,br{
  margin: 6px;
  font-size: 15px;
}

.sobre{
  text-align: center;
}

.form{   
  background: white; 
  border-radius: 1px;
  background-color: white;
  width:550px;
  margin:0 auto;
  padding: 1%;
}



@media (max-width: 500px){

.form{   
  background: white; 
  border-radius: 1px;
  background-color: white;
  width:350px;
  margin:0 auto;
  padding: 1%;
}

}

@media (max-width: 460px){
.form{   
  background: white; 
  border-radius: 1px;
  background-color: white;
  width:300px;
  margin:0 auto;
  padding: 1%;
}

}

@media (max-width: 400px){


.form{   
  background: white; 
  border-radius: 1px;
  background-color: white;
  width:300px;
  margin:0 auto;
  padding: 1%;
}

}

@media (max-width: 360px){
.form{   
  background: white; 
  border-radius: 1px;
  background-color: white;
  width:300px;
  margin:0 auto;
  padding: 1%;
}
.card-do-pe{
  width: 80%;
}


}
